<div class="container">		
			<ul id="sg-panel-container">
			
				<li data-w="40" data-h="100">
					<span data-rotate-x="-50"><%= image_tag('banner2.png', :title => 'Surfeit')%><h2>Surfeit</h2> <%= image_tag 'SurfeitLogo.svg', :class => 'SurfLogo'%></span>
					<!-- <img title="Surfeit" src="images/banner2.png" data-rotate-x="50" /> -->
					<div data-rotate-x="-50">
						<div class="sg-content">
							<h3 style="position: relative; top: -30px;">Welcome to <em>your</em> internet</h3>
							<p>Surfeit is your own personal internet curator that takes everything relavent to you on the web, and dishes it out on a silver platter. Surfeit is currently being carefully crafted in the heart of Chicago. The team consists of 3 students currently attending <a href="http://thestarterleague.com" style="color:red">The Starter League</a>. Surfeit should be up and running soon! <br><br> 
							<div id="mc_embed_signup">
								<form action="http://Surfeit.us6.list-manage.com/subscribe/post?u=ef419be306458b60290b3e511&amp;id=ddd9673469" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<h4>If you want to know when we're fully operational, we'll let you know: </h4>
									<div class="mc-field-group">
										<label for="mce-EMAIL">Email Address</label>
										<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
											</div>	
								</form>
							</div>
							
							</p> 
						</div>
					</div>
				</li>

				<li data-w="60" data-h="55">
				<div class="iconsbro" style="position:relative;" data-rotate-y="50">
					<%= image_tag('banner2.png')%>
					<!-- <img title="" src="images/banner2.png"> -->
					<%= image_tag('facebook500.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/facebook500.png" class="socialIconFB"> -->
					<%= image_tag('twitter.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/twitter.png" class="socialIconFB"> -->
					<%= image_tag('instagram500.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/instagram500.png" class="socialIconFB"> -->
					<%= image_tag('googleplus.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/googleplus.png" class="socialIconFB"> -->
					<%= image_tag('rss.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/rss.png" class="socialIconFB"> -->
					<%= image_tag('pinterest.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/pinterest.png" class="socialIconFB"> -->
					<%= image_tag('reddit.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/reddit.png" class="socialIconFB"> -->
					<%= image_tag('youtube.png', :class => 'socialIconFB')%>
					<!-- <img title="" src="images/youtube.png" class="socialIconFB"> -->
					
				</div>
						<div data-translate-z="-500" >
						<div class="sg-content">
							<h3 style="font-size:42px"><em><b>Your</b></em> Web All In One Place</h3>
							<p style="font-size:18px">When you sign up for Surfeit, all of your social networks and rss feeds will be displayed in one large dynamic collection called the Current. The Current is an ever flowing river of information from all your networks. This river will combine your Twitter, Facebook, Instagram, Pinterest, Youtube, Google+, and all RSS feeds. To make finding information easy, you can live filter your own Current to display specific content relating to what you are searching for.</p>
						</div>
					</div>
					<div data-translate-z="-500" >
						<div class="sg-content">
							<h3 style="font-size:42px">don't browse the web, <em><b>Surfeit</b></em>!</h3>
							<p style="font-size:24px">Each day, users log onto the internet to visit their favorite sites. Everyone has their own routine, yet everyone repeats the process of opening tabs and windows. We aim to change <em>all</em> that. <span style="color:red; font-size:28px">Surfeit</span> knows everything that you'd normally browse and condenses it into one flowing page.</p>
						</div>
					</div>
					
					<div data-rotate-y="-50" style="height:50px, wid
					"><%= image_tag('Laird.jpg', :width => "100%", :height => "100%")%></div>
					<!-- <img title="" src="images/laird.jpg" data-rotate-y="-50"> -->
					
				</li>
					
			</ul>
			
		</div>
		