<!DOCTYPE html>
<html>
<head>
  <title>Surfeit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "modernizr.custom.69142.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,500' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>


		<script type="text/javascript">	
			$(function() {
			
				$( '#sg-panel-container' ).gridgallery();
			
			});
</script>
</body>
</html>
